
/****** Object:  Table [dbo].[LoanStatusDetails]    Script Date: 8/19/2017 9:39:13 PM ******/
DROP TABLE [dbo].[LoanStatusDetails]
GO
/****** Object:  Table [dbo].[LoanStatusDetails]    Script Date: 8/19/2017 9:39:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoanStatusDetails](
	[StatusID] [int] NOT NULL,
	[StatusValue] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
