
/****** Object:  Table [dbo].[SalesStatusDetails]    Script Date: 8/19/2017 9:39:13 PM ******/
DROP TABLE [dbo].[SalesStatusDetails]
GO
/****** Object:  Table [dbo].[SalesStatusDetails]    Script Date: 8/19/2017 9:39:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalesStatusDetails](
	[SaleStatusID] [int] NOT NULL,
	[SaleStatusValue] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
