################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/G2.DAL/bin
/G2.DAL/obj
/G2.Frameworks/bin
/G2.Frameworks/obj
/G2.Frameworks.MVC/bin
/G2.Frameworks.MVC/obj
/G2.ML.BusinessObjects/bin
/G2.ML.BusinessObjects/obj
/G2.ML.BusinessServices/bin
/G2.ML.BusinessServices/obj
/G2.ML.BusinessObjects/bin
/G2.ML.BusinessObjects/obj
/G2.ML.BusinessServices/bin
/G2.ML.BusinessServices/obj
/G2.ML.Web/bin
/G2.ML.Web/logs
/G2.ML.Web/obj
/G2.ML.Web/obj/Debug
/G2.ML.Web/obj/Release
*.dbmdl
*.jfm

/Backups
/Releases
/Databases

ML2_changes.txt

