@model G2.ML.Web.Models.SaleBrokerageVM

<div class="panel panel-info" id="pnlBrokerage">
    <div class="panel-heading">
        <h3 class="panel-title">
            Brokerage Details</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("Brokerage", "Sale", FormMethod.Post, new { @class = "form-inline", @id="frmBrokerage" }))
        {
            @Html.HiddenFor(m => m.SaleID)
            <div class="form-group input-group-sm">
                @Html.DropDownListFor(m => m.BrokerID, Model.BrokerList, new { @class = "form-control", @id = "Brokerage" })
            </div>
            <div class="form-group input-group-sm">
                @Html.TextBoxFor(m => m.Brokerage, new { @class = "form-control", @id = "Brokerage", @placeholder = "%:" })
            </div>
            <button type="button" id="btnAddBrokerage" class="btn btn-info btn-xs">
                Add</button>
        }

        <div id="divBrokGrid">
            @Html.Partial("_BrokerageGrid",Model)
        </div>
    </div>
</div>
