@model G2.ML.Web.Models.SaleBrokerageVM

@{
    float _brokerage = 0;
}

@if (Model.BrokerageList != null && Model.BrokerageList.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Broker
                </th>
                <th>
                    Brokerage (%)
                </th>
                <th>
                    Brokerage Amount
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var _item in Model.BrokerageList)
            {
                <tr>
                    <td>@_item.BrokerName
                    </td>
                    <td>@string.Format("{0:n2}", _item.Brokerage)
                    </td>
                    <td>@string.Format("{0:n2}", _item.BrokerageAmount)
                    </td>
                    <td>
                        <button type="button" data-del="1" data-bdid="@_item.BDID" class="btn btn-danger btn-xs">
                            X</button>
                    </td>
                </tr>
                _brokerage = _brokerage + _item.BrokerageAmount;
            }
        </tbody>
    </table>
}
<script type="text/javascript">
    var _totalBrokerage = parseFloat('@_brokerage');
</script>